@media (max-width: 767px) {
	.header-menu {
	    padding: 10px 0;
	}

	.header-menu .container-fluid {
	    padding: 0 15px;
	}

	.header-menu select {
	    font-size: 13px;
	}

	main {
	    padding: 20px 0px 60px 0;
	}

	.title h1 {
	    font-size: 22px;
	}

	.title {
	    margin-bottom: 20px;
	}

	.item-goal .avarta img {
	    height: 190px;
	}

	.item-goal .inp-check button {
	    height: 40px;
	    width: 100px;
	    font-size: 15px;
	}

	.item-goal {
	    margin-bottom: 30px;
	}

	.step-goal {
	    margin-bottom: 0;
	}

	.button-submit .btn-continue {
	    font-size: 15px;
	    height: 45px;
	    padding: 0 15px;
	}

	.item-step .inp-text {
	    font-size: 15px;
	    height: 45px;
	}
	.desc-title h3 {
	    font-size: 16px;
	}
	.list-body .item-body h4 {
	    font-size: 15px;
	}
	.choose-none {
	    margin-top: 20px;
	    padding-top: 20px;
	    margin-bottom: 40px;
	}

	.choose-none label {
	    font-size: 16px;
	}

	.choose-none input[type=checkbox] + label:before {
	    top: 20px;
	}

	.choose-none input[type=checkbox] + label:after {
	    top: 21px;
	}
	.info-can .avarta img {
	    max-height: 180px;
	}

	.info-can .avarta {
	    text-align: center;
	    margin-bottom: 30px;
	}

	.info-can .info h2 {
	    font-size: 25px;
	    margin-bottom: 10px;
	}

	.box-get {
	    padding-top: 0;
	    font-size: 15px;
	}

	.box-reduce .avarta {
	    margin-top: 30px;
	    text-align: center;
	}

	.box-reduce .avarta img {
	    max-height: 200px;
	}

	.txt-get h1 {
	    font-size: 30px;
	    margin-bottom: 15px;
	}

	.txt-get h3 {
	    font-size: 20px;
	}

	.box-reduce {
	    font-size: 15px;
	}

	.txt-get {
	    margin-bottom: 25px;
	}

	.item-get:nth-child(2n) .col-md-6:nth-child(1) {
	    order: 1;
	}

	.item-get:nth-child(2n) .col-md-6:nth-child(2) {
	    order: 2;
	}

	.box-quess {
	    padding-top: 0;
	    font-size: 15px;
	}

	.title-q {
	    font-size: 30px;
	    margin-bottom: 15px;
	}

	.title-quess {
	    font-size: 15px;
	    padding: 15px 15px 15px 40px;
	}

	.title-quess:before {
	    top: 8px;
	    right: 10px;
	}

	.title-quess:after {
	    top: 15px;
	    left: 10px;
	}

	.answ {
	    padding: 15px;
	}
	.header-result .col-md-6 {
	    text-align: center !important;
	}

	.header-result .btn-plan {
	    margin-top: 15px;
	}

	.result {
	    margin-top: 150px;
	}
}

@media (max-width: 575px) {
	.wrapper {
	    max-width: 100%;
	}
	.item-step {
	    margin-bottom: 15px;
	}
	.button-submit {
	    margin-top: 10px;
	}

}

@media (max-width: 767px) and (min-width: 576px) {
	.txt-get {
		margin-bottom: 0;
	}
	.header-result .btn-plan {
	    margin-top: 0;
	}

	.result {
	    margin-top: 100px;
	}
}